/*Ouro Rosa: RGB(255, 192, 203)
Marfim: RGB(255, 255, 240)
Aquamarine: RGB(127, 255, 212)
Coral: RGB(255, 127, 80)
Pérola: RGB(240, 234, 214)*/


/*Rosa Claro: RGB(255, 204, 204)
Cinza Pérola: RGB(221, 221, 221)
Verde Água: RGB(183, 225, 206)
Bege Suave: RGB(240, 234, 214)
Lavanda: RGB(230, 230, 250)*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Cinzel", serif;;
}

html {
    overflow-x: hidden;
}

h1 bold, h2 bold, h3 bold {
    color: RGB(127, 255, 212);
    font-size: 2em
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
}

.container-flex {
    display: flex;
}

header{
    background-color: RGB(255, 255, 240);
    color: black;
    padding-top: 16px;
}

footer{
    background-color: RGB(183, 225, 206);
    color: black;
    padding-top: 16px;
}

header>.container,
footer>.container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: RGB(183, 225, 206);
    padding:16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 16px;
}

nav li a {
    color: RGB(255, 255, 240);
    text-decoration: none;
    margin-right: 20px;
}

.linha{
    margin-left: 350px;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span{
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
    margin-bottom: 4px;
}

.sobre {
    display: flex;
    background-color:RGB(240, 234, 214);
    height: 100%;
}

.Saiba-Mais {
    display: flex;
    background-color:white;
    height: 100%;
}

.sobre > .missao{
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.familia p{
    display: flex;
    width: 50%;
    text-indent: 20px;
    height: 0%;
}

.historia, .joia{
    width: 100%;
}

.Saiba-Mais h2 {
    text-align:left;
    margin-left: 270px;
}

.sobre h2 {
    text-align:left;
    margin-left: 270px;
}


.joia img {
    display: block;
    height: auto; 
    margin: 200px 300px;
}

.sobre p, .Saiba-Mais p {
    margin: 10em 15em;
    font-weight: bold;
    text-align: justify;
    font-size: large;
}

.historia img {
    display: block;
    max-width: 55%;
    height: auto; 
    margin: 100px 260px;
    border-radius: 20px;
    border:6px solid rgba(183, 225, 206,0.6);
}

section {
    padding: 48px 0;
}
section h2 {
    margin-bottom: 16px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}

#ZIP::-webkit-inner-spin-button,
#ZIP::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}
footer li img {
    height: 32px;
}

.container-flex {
    display: flex;
}

#Contato {
    background-color: RGB(240, 234, 214);
}

.container {
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: RGB(183, 225, 206);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.contato-wrapper {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.contato-form {
    width: 100%;
}

.iframe-wrapper {
    width: 50%;
    justify-content: center;
    position: relative;
}

.iframe {
    overflow: hidden;
}
